.qrcode {
    height: 500px;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    box-shadow : 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 16px;
    padding: 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D5E1EF;
    text-align: center;
    font-family:cursive;
    padding: 7px;
}

img {
    width: 100%;
    border-radius: 10px;
}

h3{
    color:  #1f3251;
}
p {
    color: #68778d;
}

footer {
    position:fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    padding: 10px;
    background-color: #D5E1EF;
    text-align: right;
    box-sizing: border-box;
}

.attribution a{
    color: blue;
}

.attribution a:hover {
    text-decoration: underline;
}